# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.*.example

# Logs
*.log

# Go
bin/
*.exe
*.out
*.test
*.prof

# Node / Next
node_modules/
.next/
out/
coverage/

# IDE
.vscode/
.idea/

# Misc
*.swp
*.swo
